# Have done this all in a single workflow file as there is no nice way to have workflows that depend on eachother

name: CI

# only run this workflow when there is a PR open with master
on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  debug:
    name: DEBUG
    runs-on: ubuntu-latest
    steps:

    - name: blah
      run: |
        echo "Base Ref: ${{ github.event.pull_request.base.ref }}"; \
        echo "Base Label: ${{ github.event.pull_request.base.label }}"; \
        echo "Base SHA: ${{ github.event.pull_request.base.sha }}"; \
        echo "Head Ref: ${{ github.event.pull_request.head.ref }}"; \
        echo "Head Label: ${{ github.event.pull_request.head.label }}"; \
        echo "Head SHA: ${{ github.event.pull_request.head.sha }}";

    - name: checkout PR commit
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: AAAAA
      run: |
        git fetch origin ${{ github.event.pull_request.base.ref }}

    - name: debug
      run: |
        git branch \
        && git rev-parse --short HEAD
    